@charset "utf-8";

/*Format*/
#page-wrap {
	width: 1000px;
	background-color: #7FCDF8;
	position: relative;
	border: 2px inset #BAE1F7;
	margin: auto;
	}
.logo{
	display: inline;
	}
nav {
	float:right;
	display: inline
		}
header{
		}
footer {text-align: center;
	border-top: 1px dotted #FFFFFF;
	display: block;
	padding-top: 10px;
	}
body{
	background-image: url(background.jpg);
}
intro {
	color: #FFFFFF;
	font-family: "Goudy Old Style", "High Tower Text", "Perpetua Titling MT";
	font-size: large;
	font-variant: small-caps;
	text-align: center;
	background-color: #01A3BD;
	display: block;
	margin-top: -.5em;
	border-top: 1px dotted #FFFFFF;
	border-bottom: 1px dotted #FFFFFF;
	}
#guidelines{
	margin: 20px;
	border: 3px ridge #BAE1F7;
	background-color: #63C1F8;
}
/*Font*/
h1 {
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-top:-1em;
	}
h2 {
	text-transform: uppercase;
	text-align: center;
	display: block;
	}

p{
	text-align: left;
	font-family: Perpetua;
	font-size: large;
	}

/*Links*/
a {
	text-decoration: none;
	color: #FFFFFF;
	padding: .75em;
	}
a:visited {
	color: #8C8C8C;
}
a:hover {
	color: #F8B0B1;
	}
li{
	display: inline;
}
.guideline {
	display: list-item;
}
/*Tables*/ 

#leaderboard{
	margin-left: auto;
	margin-right: auto;
	cell-padding:0;
	}