@charset "utf-8";

/*Format*/
#page-wrap {
	width: 1000px;
	background-color: #7FCDF8;
	position: relative;
	border: 2px inset #BAE1F7;
	margin: auto;
	}
.logo{
	width: 100px;
	position: fixed;
	display: inline;
	}
nav {
	float:right;
	width: auto;
	}
header{
	display: inline;
	height: 120px;
}
footer {text-align: center;
}
body{
	background-image: url(background.jpg);
}

/*Font*/
h1 {
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px dotted #FFFFFF;
}
p{
	text-align: left;
	margin-left: auto
}

/*Links*/
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:visited {
	color: #2F2F2F;
}
a:hover {
	color: #888888;
	}
li{
	display: inline
}

